*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: purple;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    background: yellow;
    clip-path: polygon(20% 19%, 100% 0%, 90% 78%, 0% 100%);
}